header
  //- nav
  //-   a(href='/overview') Hotel Page
  nav
    a(href="/")
      img.logotop(src='https://cdn.pixabay.com/photo/2018/05/08/21/28/airbnb-3384008_960_720.png')
  nav
    //- -console.log(user)
    if user 
        if user.role === 'user'
            .navuserpic
              a.sign.host(href='/me/host') Host Your Home
              a.sign.logout Logout
              a.nav__el(href='/me')
                span= user.username.split(' ')[0]
                img.headerphoto(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        else 
            .navuserpic
              a.sign.logout Logout
              a.nav__el(href='/me')
                span= user.username.split(' ')[0]
                img.headerphoto(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
    
    else
        a.sign(href='/signup') Signup
        a.sign1(href='/login') Login
        