extends base

block content
    //- p= hotels
    -var length = hotels.length
    //- -console.log(hotels)
    if length === 0
        h2 Not Booked Any Hotel With us now
    .booking
        each booking in hotels
            
            .bookingCard
                h2 PAID
                .bookingCard_image
                    img.bookingImage(src="/img/Hotels/bookinghotel.jpeg", alt="")
                .bookingCard_details
                    .bookingCard_hotel-details
                        h5 Full Address
                        p= booking.hotel.livelocation.address
                        //- p= booking.hotel.address
                    .bookingCard_hotel-average 
                        h5 Rating
                        p= booking.hotel.ratingsAverage
                    .bookingCard_host-details
                        h5 Your Host Details
                        p Hosted by:
                        p= booking.user.username
                    .bookingCard_price-details
                        h5 Amount Received in 'INR'
                        p PAID
                        p= booking.price
                    .bookingCard_checkin-details
                        h5 Check-in
                        p= booking.checkin
                    .bookingCard_checkout-details
                        h5 Check-out
                        p= booking.checkout
                    .bookingCard_guest-details
                        h5 Total-Guest
                        p= booking.guest
